.container {
   /* width: 1200px;*/
    display: flex;
    justify-content: space-between;
   /* flex-wrap: wrap;*/

   align-items: center;
    margin: auto;

    width: 90%;
    max-width: 980px;

}

.min-height{
    min-height: 75%;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}