.footer{
    background-color: #222;
    color:#fff;
    padding: 1em;
    text-align: center; 
  

    width: 90%;
    max-width: 980px;
}

.social_list{
    display:flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover{
    color: #ffbb33;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_rigth {
    margin-top: 2em;
}

.copy_rigth span {
    font-weight: bold;
    color: #ffbb33;
}
